<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <div class="d-flex align-items-center ">
        <i class="fa-solid fa-building-columns me-2"></i>
        <a routerLink="home" class="navbar-brand text-primary fw-bolder ">Bank App</a>
      </div>
  
      
      <form class="d-flex align-items-center" role="search">
        <a routerLink="/signin" class="me-2 fw-bolder">Sign In</a>
        <a routerLink="/register" class="me-2 fw-bolder">Join Now</a>
      </form>
    </div>
  </nav>